@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;;
}
/* shared style */
.display-flex{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    align-items: center;
}
.navbar{
justify-content: space-between;
align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700px;
}
.dark-1{
    color: #131313;
}
.bg-primary{
    background-color: rgba(255, 144, 14, 0.1);

}
.nav-link{
text-decoration: none;
font-size: 18px;
 font-weight: 500px;
 color: #424242; /*dark-2 */
    
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem ;
    font-weight: 700px;
}
.banner-description{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 40px;
}button{
    border-radius: 8px;
    color: white;
    border: none;
    background: rgb(255, 144, 14);
    padding: 10px 20px;
    margin-top: 30px;
}
.dark-2{
    color: #424242;
}
.dark-3{
color: #727272;
}
.banner-img{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top:130px ;
}
/* main section style */
.your-features-title{
   font-size: 45px; 
    font-weight: 700px;
    }
    .color-1{
        color: rgb(114, 114, 114);
        font-weight: 500px;
    }
    .black{
       color:  rgb(19, 19, 19);
    }
    .orange{
        color: rgb(255, 144, 14);;
    }
    
    .your-features-description{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 24px;
    }
    .teams{
        align-items: center;
    }
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.your-features{
margin-left: 130px;
max-width: 530px;
}
/* your-features-style */
.features-title {
    font-size:45px ;
    font-weight: 700px;
    border-left: 5px solid #FF900E;
    padding: 21px;
}
.features-description {
    padding: 24px;
    font-size: 16px ;
    font-weight: 400px;
}
.features-card-title{
    font-size:20px ;
    font-weight:600px ;
}
.features-card-description{
    font-size:16px ;
    font-weight:400px ;
}
.features-card{
    padding: 30px;
    box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.features-content{
    gap: 100px;
}



/* facts style */
.fact-title{
font-size: 45px;
font-weight: 700px;
margin-bottom: 24px;

}
.fact-description{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 100px;
}
/* card design */
.fact-number{
    font-size: 45px;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 20px;
    font-weight: 600px;

}
.fact-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    /* padding-top: 40px; */
    /* margin: 4px 6px 16px; */
    text-align: center;
    justify-content: center;
    align-items: center;

}
.fact-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
    /* sponsor style */

    .sponsor-title{
        font-size: 45px;
        font-weight: 700px;
        margin-bottom:24px ;
    }
    .sponsor-description {
        font-weight: 400px;
        font-size: 16px;
        margin-bottom: 50px;
    }
    .sponsor-info{
        max-width: 540px;
        margin:50px auto ;
        text-align: center;
      
    }
.sponsor-image{
display: grid;
grid-template-columns: repeat(5, 1fr);

}
.sponsor-image img{
    filter: grayscale(100%);
}

@media screen and (max-width:576px){
    .navbar,
    .nav-links, 
    .teams{
        flex-direction: column;
    }
    .teams-img-container,
    .fact-content,
    .sponsor-image
    {
        grid-template-columns: 1fr;
      
    }
    .fact-content{
        justify-content: center;
        gap: 24px;
    }
    .sponsor-image{
        gap: 50px;
    }
    .your-features{
        margin: 20px;
    }

    
     
}



@media screen and(min-width:576px) and(max-width:992px) {
    .teams{
      flex-direction: column;
    }
    .your-features{
        margin: 50px auto;
    }
    .fact-content,
    .sponsor-image{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
}